body {
  	background: url("http://content.etilize.com/Original/11971204.jpg");
  	background-size:150%;
  	background-position:50% 50%;
  	background-repeat:no-repeat;
  	margin-left:20px;
  	padding:10px;
  
}

h1 {
	font-family:'Patrick Hand SC', serif;
	font-size: 50px;
	margin: 28px;
}

ul {
	list-style-type: none;
	display: inline-block;
	position: relative;
	font-family:'Shadows Into Light Two', serif;
	font-size:24px;
}

.list img {
  	width:20px;
}

input {
	margin-left:40px;
} 




